.wrapper {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 1199px) {
  /* desktop (<= 1199) */
}

@media (max-width: 1023px) {
  /* tablet (<= 1023) */
}

@media (max-width: 767px) {
  /* mobile -> tablet (<= 767) */
}

@media (max-width: 425px) {
  /* only mobile (<= 425) */
}
