.wrapper {
  display: flex;
  min-height: 100px;
  padding: 0;
  background: url('./assets/avengers.webp') 3% 12px no-repeat,
    url('./assets/avengers-logo.webp') 97% 2px no-repeat;
  border: 1px solid var(--cra-font-light);
  transform: skew(-3deg);
}

.heading {
  margin: auto;
  text-align: center;
  color: var(--cra-font-light);
}

@media (max-width: 1199px) {
  /* desktop (<= 1199) */
}

@media (max-width: 1023px) {
  /* tablet (<= 1023) */
}

@media (max-width: 767px) {
  /* mobile -> tablet (<= 767) */
}

@media (max-width: 425px) {
  /* only mobile (<= 425) */
}
