.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  padding-bottom: 1.5rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
  gap: 0.5rem;
  justify-items: center;
}

.listItem {
  max-width: 206px;
}

.listLink {
  color: var(--cra-font-light);
  transition: all 300ms;
}
.listLink img {
  transform: scale(1);
  transition: all 300ms;
}
.listLink:hover,
.listLink:focus,
.listLink:active {
  color: var(--cra-accent-color);
}
.listLink:hover img,
.listLink:focus img,
.listLink:active img {
  transform: scale(1.07);
}

.listLink figure {
  border-bottom: 2px solid var(--cra-accent-color);
  transition: all 300ms;
}
.listLink:hover figure,
.listLink:focus figure,
.listLink:active figure {
  border-bottom: 2px solid var(--cra-font-light);
}

.title {
  margin-bottom: 0.5rem;
  font-size: 110%;
}

.onsaleDate,
.printPrice {
  font-family: system-ui, sans-serif;
  color: var(--cra-bg-light-grey);
}

@media (max-width: 1199px) {
  /* desktop (<= 1199) */
}

@media (max-width: 1023px) {
  /* tablet (<= 1023) */
}

@media (max-width: 767px) {
  /* mobile -> tablet (<= 767) */
}

@media (max-width: 425px) {
  /* only mobile (<= 425) */
}
