.link {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;

  color: var(--cra-link);
  text-decoration: underline dashed;
  text-underline-offset: 0.4rem;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--cra-font-dark);
}

@media (max-width: 1199px) {
  /* desktop (<= 1199) */
}

@media (max-width: 1023px) {
  /* tablet (<= 1023) */
}

@media (max-width: 767px) {
  /* mobile -> tablet (<= 767) */
}

@media (max-width: 425px) {
  /* only mobile (<= 425) */
}
