.charSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 250px;
  padding: 0;
  background: var(--cra-bg-light);
}

.charTitle {
  background: var(--cra-accent-color);
  color: var(--cra-font-light);
  padding: 2px 4px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  /* desktop (<= 1199) */
}

@media (max-width: 1023px) {
  /* tablet (<= 1023) */
}

@media (max-width: 767px) {
  /* mobile -> tablet (<= 767) */
  .charSection {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  /* only mobile (<= 425) */
}
