.footer {
  margin-top: auto;
  color: var(--cra-font-light);
  background: var(--cra-bg-dark);
}

.link {
  color: var(--cra-font-light);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--cra-link);
}

@media (max-width: 1199px) {
  /* desktop (<= 1199) */
}

@media (max-width: 1023px) {
  /* tablet (<= 1023) */
}

@media (max-width: 767px) {
  /* mobile -> tablet (<= 767) */
}

@media (max-width: 425px) {
  /* only mobile (<= 425) */
}
